body {
	margin: 0;
}

#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: #111821;
}

#portfolio {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

/* #000000 (Black)
#111111
#222222
#333333
#444444
#555555
#666666
#777777
#888888
#999999
#AAAAAA
#BBBBBB
#CCCCCC (Light Gray) */